<!--begin::Wrapper-->
<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    {% include 'root/wrapper/header.html' %}
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Container-->
        <div class=" container-xxl " id="kt_content_container">
            
            

        </div>
        <!--end::Container-->
    </div>
    <!--end::Content-->

    {% include 'root/wrapper/footer.html' %}
</div>
<!--end::Wrapper-->